PORT= 8080
jwtSecretKey= STRING (ex: "MySecREtKeY)
mongoURL= mongodb://localhost:27017/your_db_name || atlas db uri
digestAlgorithm= Digest Algorithm Used For Password Hashing (ex: "sha256")
apiRequestsPerMin= Rate Limiter (ex: 100)
maxImgUploadSize= Bytes (ex: 5000000)
unverifiedUserDataExpirationTimeInSec = Time to Delete unverified user from the database (ex: 1800)
logsExpirationTimeInSec = Time for the Logs in the database to be deleted (ex: 86400)