- follow this guide to generate appPassword (must be for Mail) https://support.google.com/mail/answer/185833?hl=en


/** add the lines below to the `emailAuth.env`

service = Email Service Used (tested with "gmail")
mail = (ex: Example@gmail.com)
appPassword = (Generated gmail app password for Mail)

**/