This config can be found after creating a firebase storage app > go to project settings 
> scroll down and choose your app > configs looks like this. 


/** add the lines below to the `firebaseConfig.env`

apiKey: "As241354dqzdSDzaqsd4468",
authDomain: "FakeData.firebaseapp.com",
projectId: "FakeData",
storageBucket: "FakeData.appspot.com",
messagingSenderId: "541211234525",
appId: "8:253814:61qsd54zqd321:4984365467",
measurementId: "Q-SQAZESDZ651"

**/