1. after setting up google oauth 2.0 go to google api console 
2. select your created project 
3. go to credentials 
4. select oauth 2.0 client that you have created 
5. you will see clientID and clientSecret on the top right  
6. Make sure to add "localhost:<SELECTED_PORT>/google/connect" to Authorized redirect URI which you can find at the bottom of the page
7. change "SELECTED_PORT" to the port you have chosen in the `config.env`


/** add the lines below to the `gmailOpenID.env`

clientID = "FOLLOW THE PREVIOUS STEPS"
clientSecret = "FOLLOW THE PREVIOUS STEPS"
redirectURL = "localhost:<SELECTED_PORT>/google/connect" (must be added to Authorized redirec URI in the oauth client)

**/